<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.six.info.dao.ApplicationMapper">

    <select id="findUserApply" resultType="com.six.info.entity.Application">
        select * from application
        <where>
            <!-- 重复说一下，id 不能是 int，int 默认是 0，不可能是 null, 而 Integer 可以是 null-->
            <if test="id!=null">
                id=#{id}
            </if>
        </where>
    </select>

    <select id="findUserApplyList" resultType="com.six.info.entity.Application">
        select * from application
        <where>
            <if test="userid!=null">
                userid=#{userid}
            </if>
        </where>
    </select>

    <insert id="addUserApply"  useGeneratedKeys="true" keyProperty="id" >
        insert into application(userid,type,professionF,professionS) values (#{userid},#{type},#{professionF},#{professionS})
    </insert>


    <select id="findType" resultType="com.six.info.entity.Type">
        select * from type
    </select>

    <select id="findProfessionF" resultType="com.six.info.entity.Type">
        select * from type
        <where>
            <if test="type!=null">
                type=#{type}
            </if>
        </where>
    </select>

    <select id="findAllList" resultType="com.six.info.entity.Point">
        select  *  from point
    </select>

    <select id="findTypeById" resultType="com.six.info.entity.Type">
        select * from type
        <where>
            <!-- 重复说一下，id 不能是 int，int 默认是 0，不可能是 null, 而 Integer 可以是 null-->
            id=#{id}
        </where>
    </select>

    <select id="findListByType" resultType="com.six.info.entity.Point">
        select * from point
        <where>
            <!-- 重复说一下，id 不能是 int，int 默认是 0，不可能是 null, 而 Integer 可以是 null-->
            type=#{type}
        </where>
    </select>

    <select id="findProfessionS" resultType="com.six.info.entity.Type">
        select * from type
        <where>
            <if test="professionF!=null">
                professionF=#{professionF}
            </if>
        </where>
    </select>

</mapper>